In [54]:
from sklearn import datasets

digits = datasets.load_diabetes()
features = digits.data
target = digits.target

features[0]

array([ 0.03807591,  0.05068012,  0.06169621,  0.02187235, -0.0442235 ,
       -0.03482076, -0.04340085, -0.00259226,  0.01990842, -0.01764613])

In [6]:
from sklearn.datasets import make_regression
fatures,target,coefficients = make_regression(n_samples=100,
                                             n_features=3,
                                             n_informative=3,
                                             n_targets=1,
                                             noise=0.0,
                                             coef=True,
                                             random_state=1)

print('Features Matrix\n',features[:3])
print('Target Vector\n',target[:3])

Features Matrix
 [[ 0.  0.  5. 13.  9.  1.  0.  0.  0.  0. 13. 15. 10. 15.  5.  0.  0.  3.
  15.  2.  0. 11.  8.  0.  0.  4. 12.  0.  0.  8.  8.  0.  0.  5.  8.  0.
   0.  9.  8.  0.  0.  4. 11.  0.  1. 12.  7.  0.  0.  2. 14.  5. 10. 12.
   0.  0.  0.  0.  6. 13. 10.  0.  0.  0.]
 [ 0.  0.  0. 12. 13.  5.  0.  0.  0.  0.  0. 11. 16.  9.  0.  0.  0.  0.
   3. 15. 16.  6.  0.  0.  0.  7. 15. 16. 16.  2.  0.  0.  0.  0.  1. 16.
  16.  3.  0.  0.  0.  0.  1. 16. 16.  6.  0.  0.  0.  0.  1. 16. 16.  6.
   0.  0.  0.  0.  0. 11. 16. 10.  0.  0.]
 [ 0.  0.  0.  4. 15. 12.  0.  0.  0.  0.  3. 16. 15. 14.  0.  0.  0.  0.
   8. 13.  8. 16.  0.  0.  0.  0.  1.  6. 15. 11.  0.  0.  0.  1.  8. 13.
  15.  1.  0.  0.  0.  9. 16. 16.  5.  0.  0.  0.  0.  3. 13. 16. 16. 11.
   5.  0.  0.  0.  0.  3. 11. 16.  9.  0.]]
Target Vector
 [-10.37865986  25.5124503   19.67705609]

In [11]:
from sklearn.datasets import make_classification
fatures,target = make_classification(n_samples=100,
                                             n_features=3,
                                             n_informative=3,
                                             n_redundant=0,
                                             n_classes=2,
                                             weights=[.25,.75],
                                             random_state=1)

print('Features Matrix\n',features[:3])
print('Target Vector\n',target[:3])

Features Matrix
 [[ 0.  0.  5. 13.  9.  1.  0.  0.  0.  0. 13. 15. 10. 15.  5.  0.  0.  3.
  15.  2.  0. 11.  8.  0.  0.  4. 12.  0.  0.  8.  8.  0.  0.  5.  8.  0.
   0.  9.  8.  0.  0.  4. 11.  0.  1. 12.  7.  0.  0.  2. 14.  5. 10. 12.
   0.  0.  0.  0.  6. 13. 10.  0.  0.  0.]
 [ 0.  0.  0. 12. 13.  5.  0.  0.  0.  0.  0. 11. 16.  9.  0.  0.  0.  0.
   3. 15. 16.  6.  0.  0.  0.  7. 15. 16. 16.  2.  0.  0.  0.  0.  1. 16.
  16.  3.  0.  0.  0.  0.  1. 16. 16.  6.  0.  0.  0.  0.  1. 16. 16.  6.
   0.  0.  0.  0.  0. 11. 16. 10.  0.  0.]
 [ 0.  0.  0.  4. 15. 12.  0.  0.  0.  0.  3. 16. 15. 14.  0.  0.  0.  0.
   8. 13.  8. 16.  0.  0.  0.  0.  1.  6. 15. 11.  0.  0.  0.  1.  8. 13.
  15.  1.  0.  0.  0.  9. 16. 16.  5.  0.  0.  0.  0.  3. 13. 16. 16. 11.
   5.  0.  0.  0.  0.  3. 11. 16.  9.  0.]]
Target Vector
 [1 0 0]

In [21]:
import pandas as pd
url = "http://riauinformatika.com/dataset/SacramentocrimeJanuary2006.csv"
folder = r"C:\Users\Administrator\SacramentocrimeJanuary2006.csv"
dt = "SacramentocrimeJanuary2006.csv"

dataframe = pd.read_csv(dt)
dataframe.head(2)

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
0,1/1/06 0:00,3108 OCCIDENTAL DR,3,3C,1115,10851(A)VC TAKE VEH W/O OWNER,2404,38.550420,-121.391416
1,1/1/06 0:00,2082 EXPEDITION WAY,5,5A,1512,459 PC BURGLARY RESIDENCE,2204,38.473501,-121.490186

In [40]:
import pandas as pd
url = "http://riauinformatika.com/dataset/SacramentocrimeJanuary2006.xlsx"
folder = r"C:\Users\Administrator\SacramentocrimeJanuary2006.xlsx"
dt = "SacramentocrimeJanuary2006_multi.xlsx"

#df = pd.read_excel(dt,sheet_name=0,header=1)
df = pd.read_excel(dt,sheet_name=["SheetKu",2])
#df = pd.read_excel(dt,sheet_name=None)
gabung = pd.concat(df, ignore_index=True)
gabung.head(100)

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
0,2006-01-31 23:41:00,30TH ST / K ST,3,3C,841,TRAFFIC-ACCIDENT INJURY,5400,38.572030,-121.467012
1,2006-01-31 23:45:00,5303 FRANKLIN BLVD,4,4B,969,3056 PAROLE VIO - I RPT,7000,38.527187,-121.471248
2,2006-01-31 23:50:00,COBBLE COVE LN / COBBLE SHORES DR,4,4C,1294,TRAFFIC-ACCIDENT-NON INJURY,5400,38.479628,-121.528634
3,2006-01-01 00:00:00,3108 OCCIDENTAL DR,3,3C,1115,10851(A)VC TAKE VEH W/O OWNER,2404,38.550420,-121.391416
4,2006-01-01 00:00:00,2082 EXPEDITION WAY,5,5A,1512,459 PC BURGLARY RESIDENCE,2204,38.473501,-121.490186

import pandas as pd
url = "http://riauinformatika.com/dataset/unece.json"
folder = r"C:\Users\Administrator\unece.json"
dt = "unece.json"

df = pd.read_json(dt,orient='rows')
df.head(10)

In [46]:
import pandas as pd
url = "http://riauinformatika.com/dataset/unece.json"
folder = r"C:\Users\Administrator\unece.json"
dt = "unece.json"

df = pd.read_json(dt)
df.head(10)

,Country,Year,Area (square kilometres),Total population,"Population density, pers. per sq. km","Population aged 0-14, male","Population aged 0-14, female","Population aged 15-64, male","Population aged 15-64, female","Population aged 64+, male",...,"Employment in industry and energy (ISIC Rev. 4 B-E), share of total employment","Employment in construction (ISIC Rev. 4 F), share of total employment","Employment in trade, hotels, restaurants, transport and communications (ISIC Rev. 4 G-J), share of total employment","Employment in finance, real estate and business services (ISIC Rev. 4 K-N), share of total employment","Employment in public administration, education and health (ISIC Rev. 4 O-Q), share of total employment","Employment in other service activities (ISIC Rev. 4 R-U), share of total employment",Persons killed in road accidents,Persons injured in road accidents,Total length of motorways (km),Total length of railway lines (km)
0,Albania,2000,28748.0,3401198.0,118.31077,564851.0,529820.0,1029446.0,1086946.0,82588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,280.0,336.0,NaN,400.0
1,Albania,2001,28748.0,3073734.0,106.91992,460732.0,436652.0,963612.0,980800.0,108254.0,...,NaN,NaN,NaN,NaN,NaN,NaN,297.0,250.0,NaN,409.0
2,Albania,2002,28748.0,3093465.0,107.60627,452373.0,427711.0,977294.0,995773.0,112546.0,...,NaN,NaN,NaN,NaN,NaN,NaN,250.0,228.0,NaN,428.0
3,Albania,2003,28748.0,3111162.0,108.22186,442939.0,417968.0,991075.0,1010693.0,116714.0,...,NaN,NaN,NaN,NaN,NaN,NaN,264.0,248.0,NaN,428.0
4,Albania,2004,28748.0,3127264.0,108.78197,433178.0,407988.0,1004398.0,1024845.0,120801.0,...,NaN,NaN,NaN,NaN,NaN,NaN,315.0,820.0,NaN,428.0
5,Albania,2005,28748.0,3142065.0,109.29682,422474.0,397035.0,1017940.0,1038397.0,124902.0,...,NaN,NaN,NaN,NaN,NaN,NaN,307.0,875.0,NaN,NaN
6,Albania,2006,28748.0,3146813.0,109.46198,412338.0,382518.0,1034511.0,1043079.0,129029.0,...,NaN,NaN,NaN,NaN,NaN,NaN,277.0,1065.0,2655.0,NaN
7,Albania,2007,28748.0,3161337.0,109.96720,403781.0,371622.0,1050345.0,1051923.0,133370.0,...,NaN,NaN,NaN,NaN,NaN,NaN,384.0,1344.0,2631.0,NaN
8,Albania,2008,28748.0,3181950.0,110.68422,396600.0,365265.0,1061262.0,1065136.0,137664.0,...,NaN,NaN,NaN,NaN,NaN,NaN,303.0,1256.0,NaN,NaN
9,Albania,2009,28748.0,3194417.0,111.11789,388901.0,358535.0,1069596.0,1077017.0,140550.0,...,NaN,NaN,NaN,NaN,NaN,NaN,378.0,1455.0,NaN,NaN

In [53]:
import mysql.connector as sql

import pandas as pd

db_connection = sql.connect(host='localhost', database='db_simproyek', user='root', password='')

db_cursor = db_connection.cursor()

db_cursor.execute('SELECT * FROM tbl_harga_pekerjaan')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)
df.head(100)

,0,1,2,3,4,5
0,2,1,Pek. Pabrikasi Pembesian Termasuk Kawat Beton,1,1000000.0,PEBANG-1C
1,3,1,Pek. Pengecoran,2,45000.0,PEBANG-1C
2,4,1,Pek. Bongkar Pasang PD 8,2,25000.0,PEBANG-1C
3,5,1,Pek. Pemasangan Angkur,3,7500.0,PEBANG-1C
4,6,1,Pek. Pas Deck Drain,3,105000.0,PEBANG-1C
5,7,1,Pek. Realing Parapat,5,10000.0,PEBANG-1C
6,8,1,Pek. Pas Spandek,5,25000.0,PEBANG-1C
7,9,1,Pek. Diafragma,3,800000.0,PEBANG-1C
8,10,1,Pek. Finishing Parapet,5,20000.0,PEBANG-1C
9,11,1,Pek. Bekisting Perapet,5,250000.0,PEBANG-1C
10,12,1,Pek. Pas Cantilver,4,250000.0,PEBANG-1C
11,13,1,Pek. Pemasangan Safety Net,5,5000.0,PEBANG-1C
12,14,1,Pek. Pabrikasi Siku Kayu Canblever,3,40000.0,PEBANG-1C
13,15,1,Pek. Pas List Siku,4,7000.0,PEBANG-1C
14,16,1,Pek. Pas Tangga Akses,2,30000.0,PEBANG-1C
15,17,3,Diafragram Tengah,3,600000.0,PEBANG-1C
16,18,3,Diafragma Tepi,3,650000.0,PEBANG-1C
17,19,3,Outer Slab,4,575000.0,PEBANG-1C
18,20,3,Bekisting,5,250000.0,PEBANG-1C
19,22,3,Psg. Spandek,6,10000.0,PEBANG-1C
20,23,3,Cor Beton,2,45000.0,PEBANG-1C
21,24,3,Pembesian,1,1000.0,PEBANG-1C
22,25,3,Psg. Deck Drain,3,120000.0,PEBANG-1C